body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #d3d3d3;
  text-align: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("img/Sin\ título-2.png") no-repeat center center;
  background-size: cover;
  z-index: 0;
  margin-top: 45vh;
}

.container {
  position: relative;
  height: auto;
  z-index: 1;
}

.logoPrin {
  background-image: url(img/logoPrin.png);
  width: 55vw;
  height: 63vw;
  margin-left: 23%;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
  margin-top: 25vw;
}

.tituloMediano {
  display: inline-block;
  font-weight: 900;
  font-size: 8vw;
  margin-top: 35vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 1vw;
  color: #d3d3d3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.tituloMediano span {
  display: inline-block;
  font-weight: 900;
  font-size: 6vw;
  background: linear-gradient(
    to right,
    rgb(33, 150, 243) 0%,
    rgb(233, 30, 99) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 1vw;
  margin-top: 2vw;
  color: #d3d3d3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*//////////////////////////////////////////////////////////////////////////*/

.container2 {

  width: 100vw;
  height: auto;
  overflow: hidden;
  background-color: black;
  margin-top: 25vw;
}

.mmm {
  position: relative;
  background-color: rgba(28, 28, 28, 0.6);
  width: 100vw;
  height: auto;
}

#tituloMMM {
  font-size: 4vw;
  font-weight: 900;
  padding-top: 2vw;
}

.mmm p span {

  font-size: 3vw;
  font-weight: 700;
}

.slider1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides1 {
  display: flex;
  transition: transform 0.5s ease;
}

.slides1 img {
  width: 75vw;
  height: auto;
}

.indicators1 {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.indicators1 span {
  display: block;
  width: 20px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicators1 span.active {
  background-color: #ffffff;
  height: 10px;
}

.indicators1 span:hover {
  height: 10px;
  background-color: #ffffff;
}


.smm {
}

.gcl {
}
