body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  color: #d3d3d3;
  text-align: center;
}

.copyright {
  text-align: right !important;
  margin-right: 10px;
  font-size: 10px;
}

.copyright-sinScroll {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
  width: 100%;
}

/* bara superior fija ///////////////////////////////////////*/
.menu {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243),
    rgb(33, 165, 235) 20%,
    rgb(33, 180, 227) 40%,
    rgb(16, 205, 172) 60%,
    rgb(8, 218, 145) 80%,
    rgb(0, 230, 118)
  );
  color: #e6e4e4;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 2;
}

.menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: #e6e4e4;
  text-decoration: none;
  padding: 10px 20px;
}

.menu ul li a:hover {
  color: #959494;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease;
  opacity: 0;
}

.menu ul li a:hover::after {
  opacity: 1;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #FFFFFF, 
  0 0 10px #F0F0F0, 
  0 0 15px #E0E0E0, 
  0 0 20px #D0D0D0, 
  0 0 35px #C0C0C0, 
  0 0 40px #B0B0B0, 
  0 0 50px #A0A0A0, 
  0 0 75px #909090;
}

/*/////////////////////////////////////////*/
.content {
  margin-top: 70px;
  padding: 20px;
}

.content img {
  width: 9%;
  height: 9%;
}

.fieldsetPrincipal {
  position: relative;
  border: none;
  padding: 20px;
  border-radius: 20px;
  max-width: 90%;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.fieldsetPrincipal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  opacity: 0.4;
  border-radius: 20px;
  z-index: -1;
}

.fieldsetPrincipal .imagen {
  flex: 1;
  background-image: url("img/gamergirl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;

  max-width: 600px;
  border-radius: 20px;
  margin-right: 20px;
}

.fieldsetPrincipal .imagen2 {
  flex: 1;
  background-image: url("img/salavacia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;

  max-width: 600px;
  border-radius: 20px;
  margin-right: 20px;
}

.fieldsetPrincipal .imagen3 {
  flex: 1;
  background-image: url("img/nuevasala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;

  max-width: 600px;
  border-radius: 20px;
  margin-right: 20px;
}

.fieldsetPrincipal .contenido {
  flex: 1;
  padding: 20px;
  color: #d3d3d3;
  text-align: justify;
}

.fieldsetPrincipal .contenido h3 {
  margin-top: 0;
}

.fieldsetPrincipal .contenido h1 {
  color: #2196f3;
}

#parrafosNoInicio {
  margin-top: 50px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

#parrafosNoInicio span {
  font-weight: bold;
  color: #2196f3;
}

#parrafosNoInicio a {
  color: #2196f3;
  text-decoration: underline;
}

#parrafosNoInicio h2 {
  color: #2196f3;
  text-decoration: none;
}
.centered-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(51, 51, 61, 0.4);
}

.centered-fieldset legend {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2196f3;
}

.centered-fieldset h1 {
  text-align: center;
  color: #2196f3;
}

.centered-fieldset .download-link {
  text-align: center;
  color: #d3d3d3;
  text-decoration: none;
}

.centered-fieldset .download-link img {
  vertical-align: middle;
  margin-right: 5px;
}

.centered-fieldsetAviso {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(231, 71, 71, 0.4);
}

.centered-fieldsetGuia {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(51, 51, 61, 0.4);
}

.download-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.fieldset-container {
  display: flex;
  justify-content: center;
}

.listaSinPunto {
  list-style-type: none;
}

.fieldset-comp {
  position: relative;
  border: none;
  padding: 20px;
  border-radius: 20px;
  max-width: 90%;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.fieldset-comp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  opacity: 0.4;
  border-radius: 20px;
  z-index: -1;
}

.fieldsetSoporte {
  border: none;
  border-radius: 20px;
  max-width: 700px;
  margin: auto;
  background-image: url(img/soporte.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2a2a2a;
  z-index: 1;
}

textarea {
  width: 300px;
  height: 150px;
  vertical-align: top;
}

.botonTransparente {
  background: url(img/envio.png) no-repeat center center;
  background-size: contain;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.botonTransparente:hover {
  opacity: 0.8;
}

#img-guia {
  text-align: center;
  width: 250px;
  height: 250px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldsetGuia {
  position: relative;
  list-style-position: inside;
  display: block;
  border: none;
  padding: 20px;
  border-radius: 20px;
  max-width: 90%;
  margin: 10px auto 0 auto;
  z-index: 1;
  text-align: center;
}

.fieldsetGuia ol {
  text-align: left;
  display: inline-block;
  padding-left: 0;
  max-width: 70%;
  margin: 0 auto;
}

.fieldsetGuia li {
  margin-bottom: 10px;
  max-width: 100%;
}

.imgMonitor {
  width: 30%;
  height: 30%;
}

.imgMonitores {
  width: 60%;
  height: 60%;
}

.imgMonitores2 {
  width: 80%;
  height: 80%;
}

.fieldsetGuia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  opacity: 0.4;
  border-radius: 20px;
  z-index: -1;
}

.fieldsetPrincipal .contenido {
  padding: 20px;
  color: #d3d3d3;
  min-width: 300px;
  text-align: justify;
}

/*animacion 3d*/

#particles-js {
  position: fixed;
  background-color: #1c1c1c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.particles-neon canvas {
  filter: brightness(100%) saturate(100%) blur(2px) opacity(0.8);
}

.span-comp {
  font-weight: bold;
  color: #2196f3;
}

.video-con-borde {
  width: 854px;
  height: 480px;
  border: 1px solid #009cde;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2196f3;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
