body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #d3d3d3;
  text-align: center;
}

.copyright-sinScroll {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
  width: 100%;
}

/*/////////////////////////////////////////////////////////*/
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

#section1 {
  background: url("img/fondo1.jpg") no-repeat center center/cover;
}

#section2 {
  background: url("img/fondo2.jpg") no-repeat center center/cover;
}

#section3 {
  background: url("img/fondo2.jpg") no-repeat center center/cover;
}

#section4 {
  background: url("img/fondo1.jpg") no-repeat center center/cover;
}

#section5 {
  background: url("img/fondo2.jpg") no-repeat center center/cover;
}

/* bara superior fija ///////////////////////////////////////////////*/
.menu {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243),
    rgb(33, 165, 235) 20%,
    rgb(33, 180, 227) 40%,
    rgb(103, 58, 183) 60%,
    rgb(156, 39, 176) 80%,
    rgb(233, 30, 99)
  );
  color: #e6e4e4;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 2;
}

.menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: #e6e4e4;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.menu ul li a:hover {
  color: #959494;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease;
  opacity: 0;
}

.menu ul li a:hover::after {
  opacity: 1;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #f0f0f0, 0 0 15px #e0e0e0,
    0 0 20px #d0d0d0, 0 0 35px #c0c0c0, 0 0 40px #b0b0b0, 0 0 50px #a0a0a0,
    0 0 75px #909090;
}

/* scrollbar /////////////////////////////////////////////////////*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2196f3;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/*//////////////////////contenedor principal//////////////////*/

.contenedorPrincipal {
  align-items: stretch;
  display: flex;
  width: 100%;
  height: 67.56vh;
  overflow: hidden;
}

/* Contenedor Left */
.left {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

/* Ajustes para la imagen */
.left img {
  width: 90vh;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: 18%;
  margin-bottom: -10vh;
}

/* Ajustes para el párrafo */
.left p {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: #e6e6e3;
  margin-top: 2vh;
}

/* Contenedor Right */
.right {
  flex: 1.5;
  padding: 10px;
  position: relative;
  margin-right: 10px;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 55vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 60px;
  border: 2px solid #d3d3d3;
}

.slider-images {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.box {
  width: 55vw;
  height: 60vh;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
}

.contenido {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(51, 51, 51, 0.7);
  font-size: 1.9vh;
  position: relative;
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;

  overflow: hidden;
}

.contenido h1 {
  color: rgb(33, 150, 243);
}

.imagen1 {
  background-image: url("img/larga2.jpg");
}

.imagen2 {
  background-image: url("img/salavacia.jpg");
}

.imagen3 {
  background-image: url("img/nuevasala.jpg");
}

.imagen4 {
  background-image: url("img/imagenlarga.jpg");
}

/* Botones del slider */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  border-radius: 0 3px 3px 0;
  transform: translateY(-50%);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*///////////////////////////////////////////////////*/

.fieldset-comp {
  position: relative;
  border: none;
  padding: 20px;
  border-radius: 80px;
  height: 70vh;
  width: 90vw;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  background-color: rgb(51, 51, 61, 0.8);
}

.fieldset-comp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 61);
  opacity: 0.4;
  border-radius: 80px;
  z-index: -1;
}

#parrafosNoInicio {
  font-size: 2vh;
  margin-top: 50px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

#parrafosNoInicio span {
  font-weight: bold;
  color: #2196f3;
}

#parrafosNoInicio a {
  color: #2196f3;
  text-decoration: underline;
}

#parrafosNoInicio h2 {
  color: #2196f3;
  text-decoration: none;
}

.centered-fieldsetGuia {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 70vh;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 80px;
  background-color: rgba(51, 51, 61, 0.8);
  font-size: 2vh;
}

/*///////////////////////////////////////////////////////////////*/
.botonCompra {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243),
    rgb(33, 165, 235) 20%,
    rgb(33, 180, 227) 40%,
    rgb(103, 58, 183) 60%,
    rgb(156, 39, 176) 80%,
    rgb(233, 30, 99)
  );
  border-radius: 60px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #e6e6e3;
  text-align: center;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.3s, background 0.3s;
}

.botonCompra p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
  transition: background-color 0.3s;
}

.botonCompra:hover p::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.botonCompra:hover {
  color: #adadad;
  background: linear-gradient(
    to right,
    rgb(25, 118, 210),
    rgb(30, 136, 229) 20%,
    rgb(33, 150, 243) 40%,
    rgb(72, 61, 139) 60%,
    rgb(120, 48, 134) 80%,
    rgb(192, 12, 76)
  );
}

.videoPromo {
  width:60vw;
  height:60vh;
  margin-top: 125px;
  border-radius: 30px;
  border: 2px solid #d3d3d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
}

.videoTexto {
  color: #e6e6e3;
}

.listaVideo {
  color: #e6e6e3;
  font-size: 2vh;
  list-style-position: inside;
  margin: 15px;
  text-align: left;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgba(51, 51, 61, 0.6);
}
