body {
  margin: 0;
  font-family: "Roboto";
  color: #d3d3d3;
  text-align: center;
}

/* scrollbar /////////////////////////////////////////////////////*/
::-webkit-scrollbar {
  width: 0.75vh;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: black;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  box-sizing: border-box;
}

#section1 {
  background-image: url(img/fondoSMM.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#section2 {
  background: url("img/fondo4.webp") no-repeat center center/cover;
}

#section3 {
  background: url("img/fondoF.png") no-repeat center center/cover;
}

#section4 {
  background: url("img/mant.jpg") no-repeat center center/cover;
  background-size: 100% 100%;
}

#section5 {
  background: url("img/fondo4.webp") no-repeat center center/cover;
}

.menu {
  color: #d3d3d3;
  font-size: clamp(1.5vh, 2vw, 1.9vh);
  padding-top: 2vh;
  position: fixed;
  width: 100%;
  height: 13vh;
  top: 0;
  transform: translateY(-2px);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  flex-wrap: nowrap;
  overflow: hidden;
}

.menu ul {
  list-style-type: none;
  margin-left: -35vh;
  padding: 0;
  text-align: center;
  flex-grow: 1;
  margin-top: -5vh;
}

.menu ul li {
  display: inline;
  margin-left: 12vh;
}

.menu ul li a {
  color: #d3d3d3;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.menu ul li a:hover {
  color: #2196f3;
  transform: scale(1.23);
}

.menu img {
  width: 16vh;
  height: 100%;
  margin-left: 10vh;
}
/*/////////////////////////////////////////////////////////////////////////*/
.container {
  height: 100vh;
}

.titulo {
  margin-top: 13vh;
  margin-right: 60vh;
}

.titulo p {
  font-size: 2.6vw;
  font-weight: bold;
}

.titulo p span {
  font-size: 0.9vw;
  font-weight: bold;
  background-color: #c51162;
  padding-left: 1vh;
  padding-right: 1vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
/*/////////////////////////////////////////////////////////////////////*/

.principalImagenes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90vh;
  margin-right: 5vh;
}

.left-column,
.right-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;
}

.left-column .fila,
.right-column .fila {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  width: 38vh;
  height: 19vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 2.5vh;
  border-bottom-left-radius: 2.5vh;
  transition: transform 0.5s, box-shadow 0.5s;
}

.imagen1 {
  background-image: url("img/SMM/cpu.jpg");
}

.imagen2 {
  background-image: url("img/SMM/ram.jpg");
}

.imagen3 {
  background-image: url("img/SMM/gpu.jpg");
}

.imagen4 {
  background-image: url("img/SMM/hdd.jpg");
}

.izquierda {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.derecha {
  flex: 1;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
  color: #d3d3d3;
  text-align: left;
  font-size: 2vh;
  width: 100%;
  height: 19vh;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -6.9vh;
}

.derecha p {
  margin: 0;
  padding: 2vh;
}

/*///////////////////////////////////////////////////////////*/

.fieldset-comp {
  position: relative;
  border: none;
  padding: 20px;
  border-radius: 80px;
  height: 70vh;
  width: 90vw;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  color: #d3d3d3;
}

#parrafosNoInicio {
  font-size: 2vh;
  margin-top: 3.5vh;
  text-align: justify;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: rgb(51, 51, 51, 0.5);
  padding-right: 2vh;
  border-radius: 5vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7),
    inset 0 0 10px rgba(255, 255, 255, 0.3);

  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s;
}

#parrafosNoInicio:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7),
    inset 0 0 20px rgba(255, 255, 255, 0.3);
}

#parrafosNoInicio a {
  color: #2196f3;
  text-decoration: none;
}

#parrafosNoInicio h2 {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243),
    rgb(103, 58, 183) 50%,
    rgb(233, 30, 99)
  );
  color: #d3d3d3;
  border-radius: 5vh;
  text-align: center;
  display: inline-block;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-left: 3vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7),
    inset 0 0 10px rgba(255, 255, 255, 0.3);

  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s;
}

#parrafosNoInicio ul {
  font-weight: bold;
  list-style: square;
}

#parrafosNoInicio span {
  color: #2196f3;
}

/*/////////////////////////////////////////////////////////////////////////*/

.tituloAI {
  color: #d3d3d3;
  font-weight: bold;
  text-align: left;
  margin-top: 8vh;
  margin-left: 95vh;
  word-spacing: 0.75vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.tituloAI p {
  font-size: 4.5vh;
  margin: 0;
}

.tituloAI span {
  display: block;
  font-size: 2vh;
  margin-top: 1vh;
  background-color: #c51162;
  display: inline;
  padding-left: 1vh;
  padding-right: 1vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.5);

  font-weight: bold;
}

.mant {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vh;
  height: 30vh;
  margin-right: 50vh;
}

/*//////////////////////////////////////////////////////*/

.contenedorMant {
  width: 90%;
  height: 90%;
}

.tituloMant {
  width: 100%;
  height: 30%;
}

.botonesMant {
  margin-top: 13vh;
  margin-left: 10vh;
}

.botonGuia {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243) 0%,
    rgb(233, 30, 99) 100%
  );
  display: inline-block;
  border-radius: 1vh;
  position: relative;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  padding-left: 5vh;
  padding-right: 5vh;
  color: #d3d3d3;
  text-align: center;
  border: 0.4vh solid #d3d3d3;
  font-size: 2.5vh;
  cursor: pointer;
  font-weight: bold;
  margin-right: 15vh;
  overflow: hidden;
  transform: translateZ(0) rotate(-10deg) skewX(-20deg);
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s;
  overflow: hidden;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.botonGuia p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  transition: background-color 0.3s;
}

.botonGuia:hover p::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.botonGuia:hover {
  background: linear-gradient(to right, #0d47a1, #c51162);
  border: 0.6vh solid #d3d3d3;
  animation: bounce 0.5s ease-in-out infinite;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.9),
    inset 0 0 6px rgba(255, 255, 255, 0.1), inset 0 -6px 8px rgba(0, 0, 0, 0.7),
    inset 0 6px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(-10deg) skewX(-20deg);
}

.botonGuia:active {
  transform: rotateY(360deg);
  transition: transform 0.8s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(-10deg) skewX(-20deg) translateY(0) scale(1.3);
    transition: transform 0.3s ease;
  }
  50% {
    transform: rotate(-10deg) skewX(-20deg) translateY(-7px) scale(1.3);
    transition: transform 0.3s ease;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup h2 {
  color: #c51162;
  text-align: center;
}

.popup ul {
  list-style: none;
}

.popup-content {
  background-color: rgba(229, 229, 229, 0.9);
  padding: 2vh;
  border-radius: 2vh;
  width: 130vh;
  height: 80vh;
  text-align: left;
  color: rgb(28, 28, 28);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9), inset 0 0 15px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: transform 1s ease, opacity 0.5s ease;
}

.popup.active .popup-content {
  transform: scale(1);
  opacity: 1;
}

.popup.active {
  backdrop-filter: blur(10px);
}

.close {
  position: absolute;
  top: 0vh;
  right: 2vh;
  font-size: 5vh;
  cursor: pointer;
  color: rgb(28, 28, 28);
}

.close:hover {
  color: #c51162;
}

#pc {
  background-image: url(img/pc.png);
  background-size: cover;
  width: 2.5vh;
  height: 3vh;
  float: left;
  margin-right: 0.5vh;
  margin-left: -1.8vh;
  margin-right: 1vh;
}

#cpu {
  background-image: url(img/cpu.png);
  background-size: cover;
  width: 2.7vh;
  height: 3vh;
  float: left;
  margin-right: 0.5vh;
  margin-left: -1.8vh;
  margin-right: 1vh;
}

#gpu {
  background-image: url(img/gpu.png);
  background-size: cover;
  width: 4vh;
  height: 3vh;
  float: left;
  margin-right: 0.5vh;
  margin-left: -1.8vh;
  margin-right: 1vh;
}

/*//////////////////////////////////////////////////////*/

.card-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.contenedorF {
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.contenedorF img {
  width: 30vh;
  height: 35vh;
  object-fit: contain;
  filter: saturate(1.5);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.contenedorF img:hover {
  transform: scale(1.5) rotate(2deg);
}

.titulo2 {
  color: #d3d3d3;
  position: absolute;
  font-weight: bold;
  text-align: left;
  word-spacing: 0.75vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  margin-top: 8vh;
  margin-left: -65vh;
}

.titulo2 p {
  font-size: 4.5vh;
  margin: 0;
}

.titulo2 span {
  display: block;
  font-size: 2vh;
  margin-top: 1vh;
  background-color: #c51162;
  display: inline;
  padding-left: 1vh;
  padding-right: 1vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.5);

  font-weight: bold;
}

/*//////////////////////////////////////////////////////*/
