body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #d3d3d3;
  text-align: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

/* scrollbar /////////////////////////////////////////////////////*/
::-webkit-scrollbar {
  width: 0.75vh;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: black;
}

.background-video {
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("img/Sin\ título-2.png") no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.container {
  position: relative;
  height: auto;
  z-index: 1;
}

.logoPrin {
  background-image: url(img/logoPrin.png);
  width: 13vh;
  height: 15vh;
  margin-left: 5vh;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
  margin-top: -48vh;
}

.titulo {
  font-size: 11vh;
  font-weight: bold;
  margin-top: 17vh;
  margin-bottom: 5vh;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(33, 150, 243) 0%,
    rgb(233, 30, 99) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: #d3d3d3;
}

.tituloMediano {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 2.8vh;
  margin-top: 0vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  border-radius: 1vh;
  text-shadow: none;
  background: linear-gradient(135deg, #b0b0b0 0%, #d3d3d3 50%, #e5e5e5 100%);
}

.tituloMenor {
  font-size: 2vh;
  margin-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  color: #d3d3d3;
  font-weight: bold;
  text-shadow: none;
  background: none;
  margin-bottom: 4vh;
}

.separador {
  margin-top: 4vh;
}

.separador2 {
  margin-top: 7vh;
}

.botones {
  margin-left: 12vh;
  margin-top: 1.5vh;
}

/*//////////////////////////////////////////////////////////*/

.cuadroBotones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 20vh;
  border-top: #d3d3d3 0.3vh solid;
  border-bottom: #d3d3d3 0.3vh solid;
  z-index: 1;
}

.cuadroBotones::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("img/fonBotones.jpg");
  background-size: 100vw 40vh;
  background-repeat: no-repeat;
  filter: blur(4px);
  z-index: -1;
}

#descripcionCompra {
  font-size: 5.5vh;
  font-weight: bold;
  margin-left: 5vh;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

#descripcionCompra span {
  font-size: 3.5vh;
  font-weight: bold;
  margin-left: 5vh;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.contenedorBotones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vh;
  width: 100vh;
  margin-right: 20vh;
  margin-bottom: 5vh;
}

/*//////////////////////////////////////////////////////*/

.asd {
  background: linear-gradient(
    to right,
    rgba(33, 150, 243, 0.7) 0%,
    rgba(233, 30, 99, 0.7) 100%
  );
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 23vh;
  width: 100vw;
  overflow: hidden;
  border-top: 0.2vh #d3d3d3 solid;
  border-bottom: 0.2vh #d3d3d3 solid;
}

.asd p {
  background-image: url("img/logoPrin.png");
  background-size: 14vh 15vh;
  background-position: center 20vh;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0.3vh 3vh;
  font-size: 4vh;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  margin-top: 15vh;
}

/*///////////////////////////////////////////////////////////*/

.asd2 {
  position: relative;
  display: inline-block;
  margin-top: 23vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
  height: 60vh;
  border-top: 0.2vh #d3d3d3 solid;
  border-bottom: 0.2vh #d3d3d3 solid;
  z-index: 1;
}

.asd2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/fondoPrin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  z-index: -1;
}

.column-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-slide {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(1.2);
}

.column-2 {
  background: linear-gradient(
    to right,
    rgb(23, 105, 170) 0%,
    rgb(163, 21, 69) 100%
  );
}

.asd2 h2 {
  display: inline-block;
  color: #d3d3d3;
  padding: 1vh;
  border-radius: 2vh;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.asd2 ul {
  margin-top: -2vh;
  list-style: none;
  text-align: left;
  padding: 2vh;
  font-size: 2.2vh;
}

.asd2 ul li {
  color: #d3d3d3;
  padding: 1vh;
  margin-right: 2vh;
}

.asd2 ul li:hover {
  font-weight: bold;
  cursor: pointer;
}

#slideshow {
  opacity: 0;
  transition: filter 0.8s ease-in-out, transform 1s ease-in-out;
}

.blur {
  filter: blur(10px);
  transform: scale(0.2);
}

/*/////////////////////////////////////////////////////////////*/

.asd3 {
  position: relative;
  z-index: 1;
  display: grid;
  margin-top: 23vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 80% 20%;
  height: 60vh;
  border-top: 0.2vh #d3d3d3 solid;
  border-bottom: 0.2vh #d3d3d3 solid;
}

.asd3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/movil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(0.6px);
  z-index: -1;
}

.asd3 p {
  font-size: 6vh;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  margin-right: 78vh;
  margin-top: 15vh;
}

.column-3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.column-4 {
  background: linear-gradient(
    to right,
    rgb(23, 105, 170) 0%,
    rgb(163, 21, 69) 100%
  );
}

.asd3 h2 {
  display: inline-block;
  color: #d3d3d3;
  padding: 1vh;
  border-radius: 2vh;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.asd3 ul {
  margin-top: -4vh;
  list-style: none;
  text-align: left;
  padding: 2vh;
  font-size: 2.2vh;
}

.asd3 ul li {
  color: #d3d3d3;
  padding: 1vh;
  margin-right: 2vh;
}

.asd3 ul li:hover {
  font-weight: bold;
  cursor: pointer;
}

.play-store {
  background-color: transparent;
  background-image: url(img/google-play-badge.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  width: 10vw;
  height: 7vh;
}

.play-store:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  transition: transform 0.5s ease-in-out;
}

/*////////////////////////////////////////////////////////////*/
.boton {
  width: 100vh;
  height: 50vh;
  border-radius: 5vh;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #d3d3d3;
  text-align: center;
  border: none;
  font-size: 6.5vh;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.9);
  transition: filter 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.boton:hover {
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6), 0 0 12px rgba(0, 0, 0, 0.4);
  filter: brightness(0.6);
}

.boton span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.boton:hover span {
  transform: scale(1.05);
}

#boton1 {
  background-image: url(img/boton1.jpg);
  background-size: cover;
}

#boton2 {
  background-image: url(img/boton2.jpg);
  background-size: cover;
}

#boton3 {
  background-image: url(img/boton3.jpg);
  background-size: cover;
}

#boton4 {
  background-image: url(img/boton4.jpg);
  background-size: cover;
}

.copy {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(229, 229, 229);
  font-size: 1.5vh;
  margin: 0;
  padding: 2vh;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 4.5vh;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  text-align: center;
  padding: 10px 0;
}

.dot {
  height: 1vh;
  width: 1vh;
  margin: 0 5px;
  background-color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background: linear-gradient(145deg, rgb(51, 51, 51), rgb(94, 94, 94));
  border: 0.1vh #d3d3d3 solid;
  transform: scale(1.5);
}

/*/////////////////////////////////////////////////*/
.botonCompra {
  background: linear-gradient(
    to right,
    rgb(33, 150, 243) 0%,

    rgb(233, 30, 99) 100%
  );
  display: inline-block;
  width: 40vh;
  border-radius: 1vh;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #d3d3d3;
  align-items: center;
  justify-content: flex-start;
  border: 0.4vh solid #d3d3d3;
  font-size: 2.3vh;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  transform: translateZ(0) rotate(-8deg) skewX(-18deg);
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s;
  margin-top: 5vh;
  margin-left: 2vh;
  overflow: hidden;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.botonCompra p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  transition: background-color 0.3s;
}

.botonCompra:hover p::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.botonCompra:hover {
  background: linear-gradient(to right, #0d47a1, #c51162);
  border: 0.6vh solid #d3d3d3;
  animation: bounce 0.5s ease-in-out infinite;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.9),
    inset 0 0 6px rgba(255, 255, 255, 0.1), inset 0 -6px 8px rgba(0, 0, 0, 0.7),
    inset 0 6px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(-8deg) skewX(-18deg);
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(-8deg) skewX(-18deg) translateY(0);
  }
  50% {
    transform: rotate(-8deg) skewX(-18deg) translateY(-7px);
  }
}

#separadorBoton {
  margin-left: 6vh;
}

#iconoCompra {
  background-image: url(img/iconCompra.png);
  background-size: cover;
  width: 4vh;
  height: 3vh;
  display: inline-block;
}
#iconoCompra2 {
  background-image: url(img/iconDes.png);
  background-size: cover;
  width: 1.7vh;
  height: 2.8vh;
  display: inline-block;
}

/*//////////////////////////////////////////////////////////*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup-content {
  background: linear-gradient(
    to right,
    rgba(229, 229, 229, 0.9),
    rgba(200, 200, 200, 0.9)
  );

  padding: 2vh;
  border-radius: 2vh;
  width: 60vh;
  text-align: left;
  position: relative;
  color: rgb(28, 28, 28);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9), inset 0 0 15px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}

.popup-content h2 {
  text-align: center;
  color: #2196f3;
}

.link {
  text-align: center;
  color: #d3d3d3;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-top: 4vh;
  font-size: 1.8vh;
}

.link a {
  text-decoration: none;
  color: #d3d3d3;
  margin-left: 5vh;
  background: linear-gradient(145deg, rgb(28, 28, 28), rgb(51, 51, 51));
  padding: 1.3vh;
  border-radius: 1.5vh;

  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2),
    inset 0 -1px 2px rgba(0, 0, 0, 0.6),
    inset 0 2px 3px rgba(255, 255, 255, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2);

  transform: translateZ(0);
  transform-style: preserve-3d;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.link a:hover {
  background: linear-gradient(145deg, rgb(14, 14, 14), rgb(30, 30, 30));
  color: #bbb9b9;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 2px rgba(0, 0, 0, 0.7),
    inset 0 3px 4px rgba(255, 255, 255, 0.6), 0 6px 10px rgba(0, 0, 0, 0.3);

  transform: translateY(-2px);
}

.cerrar {
  position: absolute;
  top: 0vh;
  right: 2vh;
  font-size: 4vh;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #c51162;
}

/*//////////////////////////////////////////////*/
.final {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(135deg, rgb(28, 28, 28) 0%, rgb(51, 51, 51) 100%);
  background-size: cover;
  width: 100vw;
  margin-top: 15vh;
  position: relative;
  overflow: hidden;
  border-top: 0.2vh #d3d3d3 solid;
  border-bottom: 0.2vh #d3d3d3 solid;
}

.final::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
  opacity: 0.15;
  pointer-events: none;
}

.final::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at 90% 90%,
    rgba(255, 255, 255, 0.4),
    transparent 60%
  );
  opacity: 0.1;
  animation: vertical-sweep 3s linear infinite;
  pointer-events: none;
}

@keyframes vertical-sweep {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.final h4 {
  text-decoration: underline;
}

.column {
  flex: 1;
  width: 50vh;
  text-align: center;
  color: rgb(200, 200, 200);
  font-weight: bold;
  padding: 20px;
  position: relative;
}

.column ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 1vh;
  font-size: 1.7vh;
}

.column ul li {
  margin-top: 1vh;
}

/*//////////////////////////////////////////////////////////////////*/

.contact {
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-align: left;
  display: flex;
  margin-top: 2vh;
}

.contact:hover {
  color: #2196f3;
}

.contact p {
  margin-bottom: 2vh;
}

.iconSopor {
  margin-right: 1vh;
  margin-top: 1vh;
}

.iconSopor img {
  width: 6vh;
  height: 6vh;
}

.formulario {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(28, 28, 28);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.formulario h3 {
  margin-top: -0.75vh;
  color: #2196f3;
}

.formulario form {
  background: linear-gradient(
    to right,
    rgba(229, 229, 229, 0.9),
    rgba(200, 200, 200, 0.9)
  );

  padding: 2vh;
  border-radius: 2vh;
  width: 50vh;
  text-align: left;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9), inset 0 0 15px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}

.formulario input[type="text"],
.formulario textarea {
  width: 95%;
  padding: 1vh;
  margin-top: 1vh;
  border: none;
  color: rgb(28, 28, 28);
  background-color: rgba(160, 160, 160, 0.8);
  border-radius: 2vh;
}

.formulario textarea {
  height: 15vh;
}

.formulario button {
  background: linear-gradient(145deg, rgb(28, 28, 28), rgb(51, 51, 51));
  color: #d3d3d3;
  font-weight: bold;
  font-size: 1.8vh;
  padding: 1vh;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2),
    inset 0 -1px 2px rgba(0, 0, 0, 0.6),
    inset 0 2px 3px rgba(255, 255, 255, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2);

  transform: translateZ(0);
  transform-style: preserve-3d;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.formulario button[type="button"] {
  width: 10vh;
  margin-left: 2vh;
}

.formulario button:hover {
  background: linear-gradient(145deg, rgb(14, 14, 14), rgb(30, 30, 30));
  color: #bbb9b9;
}
